.bg-team{
    background-image:url('../images/bg.jpg') ;
    background-size: cover;
    background-position: center;
    padding:0;
}
.section-team-area{
    background-color: rgba(0, 0, 0, 0.8);
    padding-top:50px ;
    padding-bottom: 50px;
}