.bg-team{
    background-image:url('../images/bg.jpg') ;
    background-size: cover;
    background-position: center;
    padding:0;
}
.section-team{
    overflow: hidden;
}
.section-team-area{
background-color: rgba(0, 0, 0, 0.8);
padding-top:50px ;
padding-bottom: 50px;
}
.section-team .sliders{
width: 100%;   
height: 100%;
display: flex;
}
.section-team .slide{
width:100% ;
height:100% ;
min-height: 300px;
display:inline-block;
background-color:white;
margin-right: 20px;
}

.section-team .slidearea{
display: flex;
flex-direction: column;
height: 100%;
align-items: center;
justify-content: center;
color:#000;
padding: 30px;

}

.section-team-area .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team-area .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-team-area .pointer.active{
    background-color: #b28756;
}
.section-team--avatar{
width: 150px;
height: auto;
}
.section-team--name{
text-transform: uppercase;
font-weight: 600;
font-size: 17px;
margin-top: 30px;
}
.section-team--role{
font-size: 14px;
color: #999;
margin-top:5px ;
}
.section-team--social{
display: flex;
margin-top: 20px;
}
.section-team--social a{
display: inline-flex;
justify-content: center;
align-items: center;
width:25px ;
height:25px ;
background-color: #ccc;
border-radius: 13px;
margin-right: 10px;
}
.section-team--social a:hover{
    background-color: #b28756;
}
.happy-slide{
    display: flex;
    align-items: center;
    justify-content: center;

}
.happy .section-team--name{
    text-align: center;
}
.slidearea  .quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    

}
.section-body .lorem{
    text-align: center;
    padding-top:30px ;
    font-size: 14px;
    color: #777;
    line-height: 25px;
    max-width: 700px;
    margin: auto;
}
.happy .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.happy .pointer{
    height: 15px;
    border: 2px solid #b28756;
    width: 15px;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.happy .pointer.active{
    background-color: #b28756;
}
.happy .pointer:hover{
    background-color: #b28756;
}
 .section-products{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto ;
    border-bottom:1px solid #ddd ;
    border-top: 1px solid #ddd;
    
}
.section-body .products-area{
    display: flex;
    padding-left: 50px;
    
}
.products{
    padding-left: 50px;
}
.price-light {
    background-color: #f7f7f7;
}
.price-area{
    display: flex;
}
.price-table-area{
    flex:1;
    background-color: #fff;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
}
.price-express{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;

}
.price-value{
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}
.price-month{
    color: #999;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.price-item-point{
    font-size: 12px;
}
.button-dark{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    background-color: black;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px

}