.bg-team{
    background-image:url('../images/bg.jpg') ;
    background-size: cover;
    background-position: center;
    padding:0;
}
.section-team{
    overflow: hidden;
}
.section-team-area{
background-color: rgba(0, 0, 0, 0.8);
padding-top:50px ;
padding-bottom: 50px;
}
.section-team .sliders{
width: 100%;   
height: 100%;
display: flex;
}
.section-team .slide{
width:100% ;
height:100% ;
min-height: 300px;
display:inline-block;
background-color:white;
margin-right: 20px;
}

.section-team .slidearea{
display: flex;
flex-direction: column;
height: 100%;
align-items: center;
justify-content: center;
color:#000;
padding: 30px;

}

.section-team-area .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team-area .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-team-area .pointer.active{
    background-color: #b28756;
}
.section-team--avatar{
width: 150px;
height: auto;
}
.section-team--name{
text-transform: uppercase;
font-weight: 600;
font-size: 17px;
margin-top: 30px;
}
.section-team--role{
font-size: 14px;
color: #999;
margin-top:5px ;
}
.section-team--social{
display: flex;
margin-top: 20px;
}
.section-team--social a{
display: inline-flex;
justify-content: center;
align-items: center;
width:25px ;
height:25px ;
background-color: #ccc;
border-radius: 13px;
margin-right: 10px;
}
.section-team--social a:hover{
    background-color: #b28756;
}
.happy-slide{
    display: flex;
    align-items: center;
    justify-content: center;

}
.happy .section-team--name{
    text-align: center;
}
.slidearea  .quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    

}
.section-body .lorem{
    text-align: center;
    padding-top:30px ;
    font-size: 14px;
    color: #777;
    line-height: 25px;
    max-width: 700px;
    margin: auto;
}
.happy .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.happy .pointer{
    height: 15px;
    border: 2px solid #b28756;
    width: 15px;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.happy .pointer.active{
    background-color: #b28756;
}
.happy .pointer:hover{
    background-color: #b28756;
}
 .section-products{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto ;
    border-bottom:1px solid #ddd ;
    border-top: 1px solid #ddd;
    
}
.section-body .products-area{
    display: flex;
    padding-left: 50px;
    
}
.products{
    padding-left: 50px;
}
.price-light {
    background-color: #f7f7f7;
}
.price-area{
    display: flex;
}
.price-table-area{
    flex:1;
    background-color: #fff;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
}
.price-express{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;

}
.price-value{
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}
.price-month{
    color: #999;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.price-item-point{
    font-size: 12px;
}
.button-dark{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    background-color: black;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px

}
.section-premium{
    display: flex;
    
}
.section-premium .slidearea{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width:1100px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 40px;
}
.section-premium-right, .section-premium-left{
    flex: 1;
    padding-left: 60px;
    
}
.premium-item{
    display: flex;
    margin-bottom: 20px;
}

.premium-item img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.premium-item div h4{
    color: #000;
    font-size: 17px;
    font-weight: 600;
}
.premium-item div{
    flex: 1;
    color: #999;
    line-height: 20px;
}
.premium .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.premium .pointer{
    height: 15px;
    border: 2px solid #b28756;
    width: 15px;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.premium .pointer.active{
    background-color: #b28756;
}
.premium .pointer:hover{
    background-color: #b28756;
}
.section-facts{

}
.facts{
    display: flex;
}
.fact{
flex: 1;
text-align: center;
padding: 15px;
}
.fact h3{
    color: #b28756;
    font-size: 45px;
}
.fact h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.fact p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}
.section-facts .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.fact-line{
    width: 20px;
    border-bottom: 2px solid #B28756;
    margin: auto;
}
.section-share{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #FFF;
    color: #999;
}
.share-legend{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.share-legend img{
    margin-right: 10px;
}
.share-item{
    font-size: 12px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.share-icon{
    width: 40px;
    height: 40px;
    border-radius:20px;
    margin-right:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.share-item .share-icon img{
    height: 15px;
}
.share-twitter{
    background-color: #34c5f0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
}
.share-linkedin{
    background-color: #34c5f0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
}
.share-facebook{
    background-color: #34c5f0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
}
.share-googleplus{
    background-color: #f03a34;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 5px;
}
.share-pinterest{
    background-color: #b71629;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}
.contact{
    background-color: #f7f7f7;
}
.section-contact{
    max-width: 450px;
    margin: auto;
    text-align: center;
}
.section-contact input[type=text], .section-contact textarea{
    display: block;
    width: 100%;
    height: 40px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #CCC;
    outline: 0;
    margin-top: 10px
}
.section-contact textarea {
    height: 100px;
    resize: none;
}
.contact-split{
    display: flex;
}
.contact-split input:first-child {
    margin-right: 20px;
}